<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Charge money</title>
	</head>
	<body>
		<br />
		<h1 align="center">charge money</h1>
		<hr align="center" size="2" color="blueviolet" /><br />
		<center>
		<form action="/charge_one_money/" method="get">
			<b>姓&nbsp;&nbsp;&nbsp;&nbsp;名：</b>&nbsp;&nbsp;<input type="text" name="name" required="required" /><br /><br />
			<b>帐&nbsp;&nbsp;&nbsp;&nbsp;户：</b>&nbsp;&nbsp;<input type="text" name="number" maxlength="6" required="required" /><br /><br />
			<b>充&nbsp;&nbsp;&nbsp;&nbsp;值：</b>&nbsp;&nbsp;<input type="text" name="charge" required="required" /><br /><br />
			<b>备&nbsp;&nbsp;&nbsp;&nbsp;注：</b>&nbsp;&nbsp;<input type="text" name="mark" required="required" /><br /><br />
			<input type="reset" value="重置" onclick="alert('请确认是否要重置？')" />&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="submit" name="submit" value="提交" onclick="alert('请确认是否要提交？')" /><br />
		</form>
		</center><br />
	</body>
</html>
