<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Women page</title>
	</head>
	<body>
		<br />
		<h1 align="center">all money</h1>
		<hr align="center" size="2" color="blueviolet" /><br />
		<ol type="1" start="1">
			<li><a href="/add_money/">新增账户信息；</a></li><br />
			<li><a href="/get_all_money/">浏览账户信息；</a></li><br />
			<li><a href="/get_all_number/">编辑/删除账户信息；</a></li><br />
			<li>账户信息；</li><br />
			<li><a href="/search_money/">个人账户信息；</a></li><br />
		</ol>
	</body>
</html>
