<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Friends page</title>
	</head>
	<body>
		<br />
		<h1 align="center">all friends</h1>
		<hr align="center" size="2" color="blueviolet" /><br />
		<ol type="1" start="1">
			<li><a href="/add_friend/">新增加朋友信息；</a></li><br />
			<li><a href="/get_all_friends/">浏览朋友信息；</a></li><br />
			<li><a href="/get_all_friends_sex/">按性别浏览朋友信息；</a></li><br />
			<li><a href="/get_all_friends/">编辑朋友信息；</a></li><br />
			<li>删除朋友信息；</li><br />
			<li><a href="/search/">查找朋友信息；</a></li><br />
		</ol>
	</body>
</html>
